In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

%matplotlib inline

This project is a classification project to identify fraud with machine learning. It is inspired by Emmanuel Ikogho's medium article "Classification Project- Fraud Detection". I will be using the csv from that article.

In [3]:
df=pd.read_csv('Fraud.csv')

In [4]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [5]:
#Renaming Columns for better readability and understanding
df.rename(columns={'step':'time_step', 
                   'type':'trans_type',
                   'amount':'trans_amount',
                   'nameOrig':'cust_orig',
                   'oldbalanceOrg': 'old_orig_bal',
                   'newbalanceOrig': 'new_orig_bal',
                   'nameDest': 'cust_dest',
                   'oldbalanceDest': 'old_dest_bal',
                   'newbalanceDest': 'new_dest_bal'
}, inplace=True)

In [6]:
df.head()

,time_step,trans_type,trans_amount,cust_orig,old_orig_bal,new_orig_bal,cust_dest,old_dest_bal,new_dest_bal,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0